body{
  background-image: url("../images/numbani.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.header {
  height: 8vh;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  width: auto;
  background: black url("../images/header.png") center no-repeat;
}
#demoFont {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 25px;
letter-spacing: -1.4px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
font-style: normal;
font-variant: small-caps;
text-transform: lowercase;
}
.flex-container {
  display:flex;
  flex-direction: row;
  height: 90vh;
  margin: auto;
}
.game {
  flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.cards {
  position: relative;
  background-color: black;
  height: 30%;
  width: 15%;
  margin: 1px;
  border-radius: 15px;
}
.statsInfo{
  height: 5vh;
  width: 100%;
  margin: 0px;
}
.statsTitle{
  text-align: center;
  margin-bottom: 5vh;
}
.statsContainer {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 10%;
}
.modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.close-button{
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.bastion{
  background-image: url("/assets/images/bastion.png");
  background-repeat: no-repeat;
}
.genji {
  background-image: url("/assets/images/genji.png");
  background-repeat: no-repeat;
}
.hanzo {
  background-image:url("/assets/images/hanzo.png");
  background-repeat:no-repeat;
}
.lucio {
  background-image:url("/assets/images/lucio.png");
  background-repeat:no-repeat;
}
.rein {
background-image: url("/assets/images/reinhardt.png");
background-repeat:no-repeat;
}
.pharah {
background-image: url("/assets/images/pharah.png");
background-repeat:no-repeat;
}
.tracer{
background-image: url("/assets/images/tracer.png");
background-repeat:no-repeat;
}
.soldier{
background-image: url("/assets/images/soldier76.png");
background-repeat:no-repeat;
}
.mcree{
background-image: url("/assets/images/mccree.png");
background-repeat:no-repeat;
}
.back {
  background-image: url("/assets/images/logo.gif");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  top: 0;
}
.front, .back , .html{
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
.border:hover
{
        box-shadow: inset 0 0 0 25px #53a7ea;
}
.hidden {
  display: none;
}
@media (max-width: 700px) {
  .statsContainer {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
    height: 3rem;
    align-items: center;
  }
  .played, .playedNum, .attempts, .attemptNum, .accuracy, .accuracyNum{
    margin-right: 5px;
  }
  .statsInfo{
    display:flex;
  }
  .statsTitle{
    padding:20px;
    margin:0;
  }
  .flex-container{
    flex-direction: column;
  }
  .game{
    flex-direction: column;
    height: 80vh;
    padding:10px;
  }
  .header {
    background-size: contain;
  }
}
