body{
  background-color: peachpuff;
}
.header {
  background-color: peachpuff;
  height: 8vh;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
}
.flex-container {
  background-color: peachpuff;
  display:flex;
  flex-direction: row;
  height: 90vh;
  margin: 5px;
}
.game {
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid black;
  padding: 15px;
  width: 90%;
  display: flex;
  /* flex-direction: column; */
}
.cards {
  position: relative;
  background-color: black;
  height: 30%;
  width: 15%;
  margin: 2px;
}
.statsInfo > div{
  height: 5vh;
  background-color: lightskyblue;
  width: 100%;
  border: 1px solid black;
  margin: 5px;
}
.statsContainer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  width: 10%;
}
.node {
  background-image: url("/Users/Ziyaad/lfz/memory_match/assets/images/node-logo.png");
  background-repeat: no-repeat;
}
.html {
  background-image: url("/Users/Ziyaad/lfz/memory_match/assets/images/html-logo.png");
  background-repeat: no-repeat;
}
.back {
  background-image: url("/Users/Ziyaad/lfz/memory_match/assets/images/lfz-card.jpg");
  background-repeat: no-repeat;
}
.front, .back , .node, .html{
  position: absolute;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}
/*.flex-container, .front {
  background-image: url(/Users/Ziyaad/lfz/memory_match/assets/images/lfz-card.jpg);
  background-color: lightblue;
}

.flex-container, .back {
  background-image: url(/Users/Ziyaad/lfz/memory_match/assets/images/lfz-background.jpg);
  background-color: lightcoral;
}*/
